{% load static %}
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">

<head>

    <meta charset="utf-8" />
    <title>TEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'dassets/images/favicon.ico' %}">

    <!-- multi.js css -->
    <link rel="stylesheet" type="text/css" href="{% static 'dassets/libs/multi.js/multi.min.css' %}" />
    <!-- autocomplete css -->
    <link rel="stylesheet" href="{% static 'dassets/libs/@tarekraafat/autocomplete.js/css/autoComplete.css' %}">

    <!-- Layout config Js -->
    <script src="assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'dassets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'dassets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'dassets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'dassets/css/custom.min.css' %}" rel="stylesheet" type="text/css" />


</head>
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Book a slot</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                                <li class="breadcrumb-item active">BookSlot</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col">

                    <div class="h-100">
                        <div class="row mb-3 pb-1">
                            <div class="col-12">
                                <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                    <div class="flex-grow-1">
                                        <h4 class="fs-16 mb-1">You can book a slot from here</h4>
                                        <p class="text-muted mb-0">Find a slot and make sure you have enough credit</p>
                                    </div>
                                    <div class="mt-3 mt-lg-0">
                                        <form action="javascript:void(0);">
                                            <div class="row g-3 mb-0 align-items-center">
                                                <div class="col-sm-auto">
                                                    <div class="input-group">
                                                        <input type="text"
                                                            class="form-control border-0 dash-filter-picker shadow"
                                                            data-provider="flatpickr" data-range-date="true"
                                                            data-date-format="d M, Y"
                                                            data-deafult-date="01 Jan 2022 to 31 Jan 2022">
                                                        <div
                                                            class="input-group-text bg-primary border-primary text-white">
                                                            <i class="ri-calendar-2-line"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-auto">
                                                    <button type="button" class="btn btn-soft-success"><i
                                                            class="ri-add-circle-line align-middle me-1"></i>
                                                        Add Product</button>
                                                </div>
                                                <!--end col-->
                                                <div class="col-auto">
                                                    <button type="button"
                                                        class="btn btn-soft-info btn-icon waves-effect waves-light layout-rightside-btn"><i
                                                            class="ri-pulse-line"></i></button>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </form>
                                    </div>
                                </div><!-- end card header -->
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Multi Select</h4>
                                    </div><!-- end card header -->

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div>
                                                    <h5 class="fs-14 mb-1">Basic Example</h5>
                                                    <p class="text-muted">Example of Multi Select Basic </p>
                                                    <form>
                                                        <select required multiple="multiple" name="favorite_fruits"
                                                            id="multiselect-basic">
                                                            <option selected>Apple</option>
                                                            <option>Banana</option>
                                                            <option selected>Blueberry</option>
                                                            <option selected>Cherry</option>
                                                            <option>Coconut</option>
                                                            <option>Grapefruit</option>
                                                            <option>Kiwi</option>
                                                            <option>Lemon</option>
                                                            <option>Lime</option>
                                                            <option>Mango</option>
                                                            <option>Orange</option>
                                                            <option>Papaya</option>
                                                        </select>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col -->

                                            <div class="col-lg-6">
                                                <div class="mt-4 mt-lg-0">
                                                    <h5 class="fs-14 mb-1">Headers</h5>
                                                    <p class="text-muted">Example of Multi Select Headers </p>
                                                    <form>
                                                        <select required multiple="multiple" name="favorite_cars"
                                                            id="multiselect-header">
                                                            <option>Chevrolet</option>
                                                            <option>Fiat</option>
                                                            <option>Ford</option>
                                                            <option>Honda</option>
                                                            <option selected>Hyundai</option>
                                                            <option>Kia</option>
                                                            <option>Mahindra</option>
                                                            <option>Maruti</option>
                                                            <option>Mitsubishi</option>
                                                            <option>MG</option>
                                                            <option>Nissan</option>
                                                            <option>Renault</option>
                                                            <option selected>Skoda</option>
                                                            <option selected>Tata</option>
                                                            <option selected>Toyato</option>
                                                            <option>Volkswagen</option>
                                                        </select>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                        </div>
                                        <!-- end row -->

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mt-4">
                                                    <h5 class="fs-14 mb-1">Option Groups</h5>
                                                    <p class="text-muted">Example of Multi Select Option Groups</p>
                                                    <form>
                                                        <select multiple="multiple" name="favorite_cars"
                                                            id="multiselect-optiongroup">
                                                            <optgroup label="Skoda">
                                                                <option>Kushaq</option>
                                                                <option>Superb</option>
                                                                <option>Octavia</option>
                                                                <option>Rapid</option>
                                                            </optgroup>
                                                            <optgroup label="Volkswagen">
                                                                <option>Polo</option>
                                                                <option>Taigun</option>
                                                                <option>Vento</option>
                                                            </optgroup>
                                                        </select>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                        </div>
                                        <!-- end row -->
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div> <!-- end .h-100-->

                </div> <!-- end col -->

            </div>

        </div>
        <!-- container-fluid -->
    </div>
    <!-- JAVASCRIPT -->
    <script src="{% static 'dassets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dassets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'dassets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'dassets/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'dassets/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'dassets/js/plugins.js"></script>
                        
                                <!-- multi.js -->
                                <script src="{% static 'dassets/libs/multi.js/multi.min.js' %}"></script>
    <!-- autocomplete js -->
    <script src="{% static 'dassets/libs/@tarekraafat/autocomplete.js/autoComplete.min.js' %}"></script>

    <!-- init js -->
    <script src="{% static 'dassets/js/pages/form-advanced.init.js' %}"></script>
    <!-- input spin init -->
    <script src="{% static 'dassets/js/pages/form-input-spin.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'dassets/js/app.js' %}"></script>

    </body>

</html>